header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: auto;
}
h2 {
    border: 3px;
    border-color: black;
    border-radius: 10px;
}

.bankContainer {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.balance {
    font-size: 50px;
    font-weight: bold;
}

.amount {
    font-size: 40px;
}

.funds{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.addFunds {
    margin-right: 10px;
}

.transferFunds {
    margin-left: 10px;
}

.history {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.historyHeader {
    text-align: center;
    width: 51%;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
}
