.headerDiv {
    display: flex;
    padding: 5px;
    height: 10vh;
    width: 100%;
    background-color: gray;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
}

ul {
    display: flex;
    justify-content: flex-end;  
    font-size: 30px;
    font-weight: bold;
}

.headerLi {
    list-style: none;
    margin: 50px;
    color: blue
}

.headerLi:hover {
    color: green;
}

.headerLi:visited {
    text-decoration: none;
    color: blue
}

/* .headerLi:active {
    color: green
} */