header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: rgb(68, 137, 211);
    font-size: 70px;
    width: auto;
}

.parent-div {
    display: flex;
    justify-content: space-evenly;
}

.login {
    border-color: black;
    border-style: solid;
    border-radius: 15px; 
    width: 40vw; 
    display: flex;
    justify-content: center;
}

.sign-up {
    border-color: black;
    border-style: solid;
    border-radius: 15px; 
    width: 40vw; 
    display: flex;
    justify-content: center;
}

form {
    width: 50vw;
    text-align: center;
    height: 60vh;
    justify-content: center;
}

input {
    background-color: rgb(214, 214, 214);
}

button {
    background-color:  rgb(214, 214, 214);
    border-radius: 10px;
    margin-top: 20px;
}

.sign-text {
    font-size: 23px;
    padding: 3px;
}

.log-text {
    font-size: 40px;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}