.maxWide {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
    margin-right: 20px;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.postNumber {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

.amount {
    font-size: 50px;
    font-style: oblique;
}

.posts{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.addPost {
    margin-right: 10px;
    border-radius: 10px;
}

.seePosts {
    margin-left: 10px;
    border-radius: 10px;
}

.postHistory {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 200px;
}
.postHistoryHeader {
    text-align: center;
    width: 51%;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    margin-top: 35px;
}

.addPost:hover {
    background-color: rgb(74, 239, 74);
}

.seePosts:hover {
    background-color: rgb(154, 245, 245);
}

